/* colors */
header {
    background-color: #31572C;
}

input::file-selector-button {
    background-color: #4F772D;
    /* accent-color: #4F772D; */
}






/* general */
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    /* background-color: #FDFCDC; */
}

main {
    width: 80%;
    margin-bottom: 40px;
}

h1, h2, h3, h4, label {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
}

header {
    /* background-color: #386641; */
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1rem;
    width: 100%;
    color: white;
}

body, main, header, #scoringSection, #tokensSection {
    display: flex;
    flex-direction: column;
}

body, header, #tokensSection {
    align-items: center;
}

.large-label {
    font-size: 1.2em;
}

/* input::file-selector-button {
    background-color: #A7C957;
    font-size: 1rem;
    font-family: 'PT Sans', sans-serif;
    border: none;
    border-radius: 15px;
} */

input[type="file"] {
    padding-top: 0.75rem;
    font-size: 1rem;
}

input::file-selector-button {
    font-size: 1rem;
    font-family: 'PT Sans', sans-serif;
    border: none;
    border-radius: 15px;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
}


#fileInputList {
    display: flex;
    flex-direction: column;
}

.fileInputAndLabel {
    padding-bottom: 1rem;
    /* display: flex;
    flex-direction: column; */
}




#token {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}


/* buttons */
#buttonsSection, #listsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    width: 40%;
    font-size: 1.5rem;
    font-family: 'PT Sans', sans-serif;
    border: none;
    border-radius: 15px;
    transition: 1s;
}

#ignoreButton {
    background-color: #BC4749;
    color: white;
}

#ignoreButton:hover {
    background-color: #a53a3c;
}

#addButton {
    background-color: #6A994E;
    color: white;
}

#addButton:hover {
    background-color: #517a3a;
}





#listsSection {
    margin-top: 40px;
}

#listsSection section {
    border: 1px solid black;
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
}

#listsSection div {
    display: flex;
    justify-content: center;
}