/* colors */
header {
    background-color: #31572C;
}

a {
    color: #31572C;
}

nav li a:hover:not(:has(img)),
#activeNavbarLink:hover {
    background-color: #3b5b1f;
}

#activeNavbarLink {
    background-color: #456924;
}

input::file-selector-button, #addButton, nav ul {
    background-color: #4F772D;
    color: white;
}


#addButton:hover {
    background-color: #3a6124;
}

main > section {
    background-color: #BECE7A;
}

.fileInputAndLabel:first-child, .instructionsPara {
    background-color: #D5E18C;
}

.fileInputAndLabel:nth-child(even), .instructionsPara:nth-child(odd) {
    background-color: #ECF39E;
}

.fileInputAndLabel:last-child, .instructionsPara:last-child {
    background-color: #F2F7BC;
}

/* .fileInputAndLabel {
    background-color: #D5E18C;
    background-color: #ECF39E;
    background-color: #F2F7BC;
} */

.subSection {
    background-color: #F2F7BC;
}

body {
    background-color: #F7FBDA;
}



#ignoreButton {
    background-color: #BC4749;
    color: white;
}

#ignoreButton:hover {
    background-color: #a53a3c;
}




/* general */
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}

main {
    width: 80%;
    margin-bottom: 40px;
}

h1, h2, h3, h4, label {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
}

header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /* margin-bottom: 1rem; */
    width: 100%;
    color: white;
}

nav {
    width: 100%;
}

nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav img {
    width: 25px;
    height: 25px;
}

nav a:has(img) {
    padding-bottom: 4px;
    padding-top: 12px;
}


body, main, header, #scoringSection, #tokensSection {
    display: flex;
    flex-direction: column;
}

main > section {
    padding: 0.75rem;
    border-radius: 15px;
    margin-top: 1.5rem;
}

body, header, #tokensSection {
    align-items: center;
}

.subSection, .fileInputAndLabel, .instructionsPara {
    padding: 10px;
    border-radius: 10px;
}

.large-label {
    font-size: 1.2em;
}



input[type="file"] {
    font-size: 1rem;
}

input::file-selector-button {
    font-size: 1rem;
    font-family: 'PT Sans', sans-serif;
    border: none;
    border-radius: 15px;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
}


#fileInputList {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.fileInputAndLabel {
    margin-bottom: 1rem;
}

.fileInputAndLabel>p {
    margin-top: 0.25rem;
    margin-bottom: 0px;
}



#tokensSection {
    width: 80%;
    align-self: center;
    margin-bottom: 1rem;
}

#token {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


#buttonsSection, #listsSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    width: 40%;
    font-size: 1.5rem;
    font-family: 'PT Sans', sans-serif;
    border: none;
    border-radius: 15px;
    transition: 1s;
}

#ignoreButton {
    margin-right: 0.6rem;
}

#addButton {
    margin-left: 0.6rem;
}


#listsSection {
    margin-top: 40px;
}

#listsSection > section {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    width: 45%;
}

#listsSection div { /* to center the headings of each list */
    display: flex;
    justify-content: center;
    margin-bottom: 0.25rem;
}


#listsSection p {
    margin-top: 0px;
    margin-bottom: 0px;
}